
.login {
	display: grid;

	--width: 35%;
	--height: 15%;

	@media (width <= 600px) {
		--width: 5%;
	}

	@media (height <= 500px) {
		--height: 5%;
	}

	margin-left: var(--width);
	margin-right: var(--width);
	margin-top: var(--height);

	text-align: center;
}

button, .alert {
	margin-top: 2%;
}

.auth-options {
	display: flex;
}

.auth-options > * {
	flex: 1;
}

.auth-options > *:hover {
	cursor: pointer;
}

.auth-chosen {
	color: rgb(83, 129, 226);
	transition: 0.2s;
}

.auth-notchosen {
	color: black;
	transition: 0.2s;
}

p {
	margin-bottom: 0;
}

.dashboard {
	font-size: 18px;
}

.files {
	margin: 12px;
}